@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  /* color: ; */
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  transition: 1s;
  z-index: 50;
  background-color: #fff;
}

header.sticky {
  padding: 19px 5%;
  background-color: #fff;
  box-shadow: 1px 1px 15px -3px rgba(39, 39, 39, 0.5);
}

header .logo a {
  position: relative;
  font-weight: 700;
  color: #000000;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

.nav_links {
  list-style: none;
  position: relative;
  display: flex;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
  position: relative;
  transition: .2s;
  color: #eb9046;
}

.nav_links li a:hover {
  transform: scale(1.08);
  border-bottom: 3px solid #000000;
  color: #000000;
}

.nav_links a {
  transform: all 0.3s ease 0s;
  position: relative;
  letter-spacing: 1px;
  transition: 0.2s;
  text-transform: uppercase;
  color: #727374;
}

.nav_links a:hover {
  color: #000000;
}

span {
  color: #eb9046;
}

.nav_btn button {
  padding: 9px 25px;
  border-radius: 50px;
  cursor: pointer;
  transform: all 0.3s ease 0s;
  color: #eb9046;
  border: 1px solid #eb9046;
  transition: 0.2s;
  background-color: #fff;
}

.nav_btn button:hover {
  background-color: #eb9046;
  color: #fff;
  
}

a {
  color: #eb9046;
}
a:hover {
  color: #fff;
}

#about {
  width: 100%;
  height: 95vh;
  position: relative;
  /* margin-bottom: 7rem; */
}

.about {
  position: absolute;
  left: 8%;
  right: 8%;
  transform: translate(5%, 43%);
  margin-bottom: -10rem;
}

#about h1 {
  font-size: 40pt;
  color: #1e293b;
  margin: 0.5rem 0 1rem 0;
}

#about h3 {
  letter-spacing: 1px;
  line-height: 24px;
  color: #000000;
  font-size: 40pt;
}
span {
  font-size: 40pt;
  
}

#about p {
  font-size: 18pt;
  color: #000000;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  width: 600px;
}

.img_about img {
  width: 400px;
  height: 400px;
  position: absolute;
  border-radius: 100%;
  background-color: #eb9046;
  box-shadow: 0px 0px 40px #eb9046;
  left: 86%;
  top: 25%;
  transform: translateX(-80%);
  object-fit: cover;
}

.about .about-icons {
  padding: 12px 0;
  display: flex;
  justify-content: start;
  z-index: 99;
  position: relative;
  text-align: start;
  margin-left: -10px;
}

.about .about-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.about .about-icons i {
  font-size: 32pt;
  color: #000000;
  transition: 0.1s;
}

.about .about-icons i:hover {
  color: #000000;
  transform: scale(1.1);
  transition: 0.2s;
}

.education span {
  font-weight: bold;
}

.edu-title {
  margin: 30px 50px;
  text-align: center;
  color: #000000;
}

.edu-title h1 {
  font-size: 40px;
  margin-top: 3.5rem;
}

#education .row {
  margin: 30px;
  padding: 5rem 20px 0;
  display: flex;
}

.education h2 {
  color: #ffffff;
}

.date-edu {
  padding: 8px 0;
  font-size: 16px;
  color: #000000;
}

.edu-title p {
  font-size: 20px;
}

.desc-edu {
  color: #000000;
}

.col1 {
  flex: 47%;
  background-color: #eb9046;
  border-radius: 20px;
  padding: 15px 20px;
  margin: 10px;
  margin-bottom: 10rem;
  box-shadow: 1px 10px 15px -1px #bbbbbb;
  transition: 0.2s;
}

.col1:hover {
  transform: scale(1.03);
  transition: 0.2s;
  box-shadow: 1px 10px 15px -1px #eb9046;
}

.col2 {
  flex: 6%;
}

.col2 ul {
  list-style: none;
}

.col2 ul > li {
  position: relative;
}

.col2 ul > li:before {
  content: "\25CF";
  margin-right: 10px;
  font-size: 80px;
  color: #000000;
  z-index: 1;
  position: inherit;
}

.col2 ul > li:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  border-left: 6px solid #000000;
  margin-left: 34%;
  margin-top: -2.5rem;
  height: 13rem;
}

.col2 ul > li:first-of-type:after {
  top: 50%;
}

.col2 ul > li:last-of-type:after {
  top: -50%;
}

.col3 {
  flex: 47%;
  background-color: #eb9046;
  border-radius: 20px;
  padding: 15px 20px;
  box-shadow: 1px 10px 15px -1px #bbbbbb;
  margin: 10px;
  margin-top: 10rem;
  transition: 0.2s;
}

.col3:hover {
  transform: scale(1.03);
  box-shadow: 1px 10px 15px -1px #eb9046;
  transition: 0.2s;
}

.skill span {
  color: #eb9046;
  font-weight: bold;
}

.skill-title {
  color: #1e293b;
  text-align: center;
}

.skill-title h1 {
  font-size: 40px;
}

.skill-title p {
  font-size: 20px;
}

.flex-wrapper {
  margin: 5rem 0 0;
}

.flex-grid {
  display: flex;
  justify-content: center;
  text-align: center;
}

.items img {
  position: relative;
  height: 4.5rem;
  display: block;
  left: -50px;
}

.items p {
  color: #000000;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 90px;
  margin-bottom: 20px;
}

.items .medium {
  background-color: #fef3c7;
  padding: 5px;
  font-size: 12px;
  border-radius: 15px;
  font-weight: bold;
  color: #de8821;
  text-transform: uppercase;
 
}

.items .basic {
  background-color: #e0f2fe;
  padding: 5px;
  font-size: 12px;
  border-radius: 15px;
  font-weight: bold;
  color: #eb9046;
  text-transform: uppercase;
}

.contact span {
  color: #eb9046;
  font-weight: bold;
}

.contact-title {
  color: #1e293b;
  text-align: center;
}

.contact-title h1 {
  font-size: 40px;
  margin-top: 3.5rem;
}

.contact-title p {
  font-size: 20px;
}

.context {
  position: relative;
  display: flex;
  align-items: center;
  left: 40%;
}

.context img {
  position: relative;
  display: block;
  left: -10%;
  margin: 50px 0px;
  float: left;
}

.context p {
  position: relative;
  text-align: justify;
  text-justify: auto;
  width: 230px;
  float: right;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  background-color: #eb9046;
  padding-top: 30px;
}

.foot-content p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  z-index: 1;
  position: relative;
  line-height: 25px;
}

.foot-content p:nth-child(2) {
  position: relative;
  line-height: 25px;
  font-size: 18px;
  color: #fff;
  z-index: 1;
  margin-top: 5px;
}

.social-icons {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  text-align: center;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  background-color: #fff;
  border-radius: 50%;
}

.social-icons i {
  font-size: 30px;
  color: #000000;
  transition: 0.1s;
}

.social-icons i:hover {
  color: #eb9046;
}

.social-icons a:hover {
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.createby p:nth-child(1) {
  font-size: 15px;
  color: #1e293b;

  font-weight: unset;
}

.createby p:nth-child(2) {
  font-size: 15px;
  margin: -5px 0 10px;
  font-weight: unset;
  color: #1e293b;
}

#scrool-up.srcl i {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  background-color: #334155af;
  transition: 0.2s;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px;
  z-index: 99;
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 200px;
    display: block;
    transition: 1s;
    z-index: 50;
    background-color: #fff;
  }

  header .logo a {
    display: none;
  }
  
  .nav_links {
    list-style: none;
    display: block;
    width: 250px;
  }
  .nav_links li {
    display: block;
    text-align: center;
    padding: 0 20px;
    transition: .2s;
    color: #eb9046;
    margin-bottom: 10px;
  }

  body {
    width: 100%;
    height: auto;
    border: 1px solid #eb9046;
  }

  .img_about img {
    left: 59%;
    top: 32%;
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 100%;
    box-shadow: 0px 0px 2px #eb9046;
  
  }

  section.about {
    align-items: center;
    justify-items: center;
    height: auto;
  }
  
  #about h1 {
    position: absolute;
    font-size: 20px;
    color: #1e293b;
    top: 540%;
  }
  
  #about h3 {
    position: absolute;
    letter-spacing: 1px;
    line-height: 24px;
    color: #000000;
    font-size: 16px;
    top: 520%;
  }
  span {
    font-size: 16pt;
    
  }
  
  #about p {
    position: absolute;
    top: 600%;
    font-size: 16px;
    color: #000000;
    line-height: 1.4;
    width: 200px;
  }
  
  .about .about-icons {
    padding: 12px 0;
    display: flex;
    justify-content: start;
    z-index: 99;
    position: relative;
    text-align: start;
  }
  
  .about .about-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about .about-icons i {
    font-size: 32px;
    color: #000000;
    transition: 0.1s;
  }
  
  .about .about-icons i:hover {
    color: #000000;
    transform: scale(1.1);
    transition: 0.2s;
  }
  
  #education {
    margin-top: 200px;
  }
  .education span {
    font-weight: bold;
  }
  
  .edu-title {
    position: relative;
    top: 90px;
    text-align: center;
    color: #000000;
  }
  
  .edu-title h1 {
    font-size: 40px;
    margin-top: -90%;
  }
  
  #education .row {
    display: block;
  }
  
  .education h2 {
    color: #ffffff;
  }
  
  .date-edu {
    padding: 8px 0;
    font-size: 16px;
    color: #000000;
  }
  
  .edu-title p {
    font-size: 20px;
  }
  
  .desc-edu {
    color: #000000;
  }
  
  .col1 {
    flex: 47%;
    background-color: #eb9046;
    border-radius: 20px;
    padding: 15px 20px;
    margin: 10px;
    margin-bottom: 4rem;
    box-shadow: 1px 10px 15px -1px #bbbbbb;
    transition: 0.2s;
  }
  .col2 {
    display: none;
  }
  .col3 {
    flex: 47%;
    background-color: #eb9046;
    border-radius: 20px;
    padding: 15px 20px;
    box-shadow: 1px 10px 15px -1px #bbbbbb;
    margin: 10px;
    margin-top: 4rem;

  }
  .skill span {
    color: #eb9046;
    font-weight: bold;
  }
  
  .skill-title {
    color: #1e293b;
    text-align: center;
  }
  
  .skill-title h1 {
    font-size: 40px;
  }
  
  .skill-title p {
    font-size: 20px;
  }
  
  .flex-wrapper {
    width: 100%;
  }
  
  .flex-grid {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .items img {
    height: 16px;
    width: 16px;
    margin: 10px;
    display: block;
    align-items: center;
    left: 10px;
  }
  
  .items p {
    display: none;
  }
  
  .items .medium {
    display: none;
  }
  
  .items .basic {
    display: none;
  }
  
  .contact {
    padding-bottom: 45px;
  }
  .contact span {
    color: #eb9046;
    font-weight: bold;
  }
  
  .contact-title {
    color: #1e293b;
    text-align: center;
  }
  
  .contact-title h1 {
    font-size: 40px;
    margin-top: 3.5rem;
  }
  
  .contact-title p {
    font-size: 20px;
  }
  
  .context {
    position: relative;
    align-items: center;
    left: 40%;
  }
  
  .context img {
    display: none;
  }
  
  .context p {
    font-size: 16px;
    position: relative;
    left: -25%;
    margin-bottom: 20px;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    background-color: #eb9046;
    padding-top: 30px;
    width: 100%;
  }
  
  .foot-content p:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    z-index: 1;
    position: relative;
    line-height: 25px;
  }
  
  .foot-content p:nth-child(2) {
    position: relative;
    line-height: 25px;
    font-size: 16px;
    color: #fff;
    z-index: 1;
    margin-top: 5px;
  }
  
  .social-icons {
    padding: 12px 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
    text-align: center;
  }
  
  .social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .social-icons i {
    font-size: 30px;
    color: #000000;
    transition: 0.1s;
  }
}
